
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><img src="/img/ShokuDex Logo.png" alt="Alternate Text" /></div>
    <div class="col-4"></div>
    <div class="col-12">
        <div>
            <h3>Shokudex is able to help you manage your meals and health through a Food Diary where you can insert and consult past meals.</h3>
            <h3>The application helps you keep track of your nutritional and caloric intake.</h3>
            <h3>Join Shokudex, <b>for free</b>, today and take the next steep towards making yourself more healthy!</h3>
        </div>
    </div>
    
</div>

<style>
    img {
        width: 312px;
        height: 312px;
    }
</style>