
<div class="row ">
    <div class="col-4 texto"></div>
    <div class="col-3 texto"><img src="/img/ShokuDex Logo.png" alt="Alternate Text" /></div>
    <div class="col-4 texto" ></div>
    <div class="col-10 offset-1 texto">
        <div>
            <p>Shokudex is able to help you manage your meals and health through a Food Diary where you can insert and consult past meals.</p>
            <p>The application helps you keep track of your nutritional and caloric intake.</p>
            <p>Join Shokudex, today and take the next step towards making yourself more healthy, <b>for free</b>!</p>
        </div>
    </div>
    
</div>

<style>
    img {
        width: 312px;
        height: 312px;
    }

    p
    {
        font-size:2vw;
    }

    .texto {
        z-index: -1;
    }
</style>