@using Recodme.ShokuDex.WebApi.Models.FoodInfo
@model TimeOfDayViewModel

@{ViewData["Title"] = "Edit"; }

<h2>Time of Day - @Model.Name</h2>

<div class="row">
    <form asp-action="Edit" class="pl-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        @Html.Hidden("Id", Model.Id)
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}