<a asp-action="index" asp-controller="Meal">Meal</a>
<br>
<a asp-action="index" asp-controller="TimeOfDay">Time Of Day</a>
<br>
<a asp-action="index" asp-controller="Category">Category</a>
<br>
<a asp-action="index" asp-controller="Food">Food</a>